{% extends 'base.html.twig' %}

{% block title %}The District Votre Profile !{% endblock %}

{% block body %}
{% if app.user %}
{# <div class="col-3 justify-content-center mb-3 ">
           <strong> Vous êtes connectez: {{ app.user.userIdentifier }}</strong>
   </div> #}
 
<div class="container" id="mentions" >
<h1>Heureux de vous Revoir  {{informations.prenom}} !!!</h1>
</div>

<div class='container'>
    <div class='row mt-5'>
        <div class='col-sm-8 offset-sm-2'>
        <h1 class='justify-content-center d-flex'>Vos informations</h1>
<table class ='table table-light table-hover mt-5'>
<thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>télephone</th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Ville</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td>{{informations.nom}}</td>
        <td>{{informations.prenom}}</td>
        <td>{{informations.telephone}}</td>
        <td>{{informations.adresse}}</td>
        <td>{{informations.cp}}</td>
        <td>{{informations.ville}}</td>
    </tr>
</tbody>
</table>
        </div>
    </div>
</div>
   {% endif %}
{% if app.user %}
<a href="{{ path('app_logout') }}" class="btn btn-link d-block justify-content-center" type="button">Se deconnecté</a>
    {% endif %}




{% endblock %}
