{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
<main class='main-content'>
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>

                {{ form_start(registrationForm) }}
                    <fieldset class="mb-1">
                        <legend>Mon identité</legend>
                        {{ form_row(registrationForm.nom) }}
                        {{ form_row(registrationForm.prenom) }}                         
                        {{ form_row(registrationForm.email) }}
                    </fieldset>

                    <fieldset class="mb-1">
                        <legend>Mes coordonnées</legend>
                        {{ form_row(registrationForm.adresse) }}
                        {{ form_row(registrationForm.cp) }}
                        {{ form_row(registrationForm.ville) }}
                        {{ form_row(registrationForm.telephone) }}
                    </fieldset>
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary btn-lg my-1">M'inscrire</button>
                    <a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
                {{ form_end(registrationForm) }}            
            </div>
        </div>
    </section>
</main>
{% endblock %}

{# {% block body %}

{% use "bootstrap_5_layout.html.twig" %}

{% block main %} 
	<main class="main-content ">


    <h1>Register</h1>
			<div class="container body-container my-auto mx-auto">
				
			
				<div class="row">
					<div class="col-sm-12 position-relative justify-content-center">

   
 {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-lg btn-primary" type="submit">Register</button>
       
    {{ form_end(registrationForm) }}
    
{% endblock %}
 </div>
 </div>
        </div>
        </main>
{% endblock %} #}
