{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %} 
{% block body %}
<div class="container d-block position-relative justify-content-center text-center mx-auto h-60 w-40 ">

   <h1>Formulaire de contact</h1>



    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    
{% use "bootstrap_5_layout.html.twig" %}


     {{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div> 

<div class="row d-block">
<div class="col-9 mx-auto mt-4">
    {{ form_label(form.objet, "Objet" ) }}
    {{ form_widget(form.objet, {'attr': {'class': 'btn-light'} }) }}
    {{ form_errors(form.objet) }}
</div>

<div class="col-9 mx-auto mb-2 mt-2">
    {{ form_label(form.email, "Email" ) }}
    {{ form_widget(form.email, {'attr': {'class': 'btn-light'} }) }}
    {{ form_errors(form.email) }}
</div>

<div class="col-9 mx-auto mb-2 mt-2 mb-2">
    {{ form_label(form.messages, "Message" ) }}
    {{ form_widget(form.messages, {'attr': {'class': 'btn-light'} }) }}
    {{ form_errors(form.messages) }}
</div>


    {{ form_end(form) }}








{% endblock %}  