<img src="{{ asset ('image/images_the_district/logo.png')}}" class="img d-none d-md-flex  col-10 ">

<div class="container">
    <div class="row mt-5">
        <div class='col-sm-8 offset-sm-2'>
        <h1 class='justify-content-center d-flex'>Informations Perso du Client</h1>
<table class ='table table-light table-hover mt-5'>
<thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>télephone</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td>{{data_mail.getNom()}}</td>
        <td>{{data_mail.getPrenom()}}</td>
        <td>{{data_mail.getTelephone()}}</td>
    </tr>
</tbody>
</table>
        </div>
    </div>
</div>


<div class="Objet">
<h5>Objet de la demande :</h5>
<h6>{{data_mail.Objet}}</h6>
</div>