<!DOCTYPE html>
<html lang='fr'>
 <head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="view-transition" content="same-origin"/>
		<title>
			{% block title %}The District	{% endblock %}
		
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{# {% block stylesheets %}	
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
	{% endblock %}
                    
			{% block javascripts %}
					<script src="{{ asset('/js/bootstrap.bundle.min.js') }}" defer></script> 
            		 {# {{ encore_entry_script_tags('main') }}                      

		{% endblock %} #}
			{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
			 <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script> #}
	<link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}"> 
   </head>

	
	{% block header %}


	{{ include('_partials/_nav.html.twig')}}

{% endblock %}
	<body>

		{% block body %}

<div class="container body-container">


<div class="row">
				{% block main %}


					<main class="main-content">
						<div
							class="col-sm-12">


							{% use "bootstrap_5_layout.html.twig" %}
							{{ include('_partials/_flash.html.twig') }}

							{% if app.user and app.user.isVerified == false %}
								<div class="alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									<div class="alert-message">
										<strong>Votre compte n'est pas activé</strong>,
										<a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
									</div>
								</div>
							{% endif %}
</main>

</div>
{% endblock %}

</div>
</div>
</div>

{% endblock %}

			{{ include('_partials/_flash.html.twig') }} 

			{# <div class="container body-container"> #}
			
				{# {% block main %}  
						
		
				 <div class="row">
					<div class="col-sm-9"> 
						
                      

 </div>
</div> 

</div>

	{# {% endblock %} #}
	
	
					{# <div id="sidebar" class="col-sm-3">
						{% block sidebar %}
							{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                                                                                'template': 'blog/about.html.twig',
                                                                                'sharedAge': 600,
                                                                                '_locale': app.request.locale
                                                                      })) }}
						{% endblock %} 
					</div> #}
				

		{% block footer %}
			<footer>
						 {{ include('_partials/_footer.html.twig')}}          

				<div class="container">
					<div class="row">
						<div id="footer-copyright" class="col-md-6">
							<p>&copy;
								{{ 'now'|date('Y') }}
								- The District</p>
							<p>{{ 'mit_license'|trans }}</p>
						</div>
						<div id="footer-resources" class="col-md-6">
							<p>
								<a rel="noopener noreferrer" target="_blank" href="https://twitter.com/symfony" title="Symfony on X (formerly Twitter)">
									<i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
								</a>
								<a target="_blank" href="https://symfony.com/blog/" title="Symfony Blog">
									<i class="fa-solid fa-rss" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
			</footer>

	
  
	{% endblock %}
  </body>
</html>

		 {# it's not mandatory to set the timezone in localizeddate(). This is done to
								                       avoid errors when the 'intl' PHP extension is not available and the application
								                       is forced to use the limited "intl polyfill", which only supports UTC and GMT 
								 Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} #}
						