{% extends 'base.html.twig' %}

{% block title %}The District : plats_cat{% endblock %}

{% block body %}


<div class="container" id="mentions" >
<h1>Categorie : {{categorie.libelle}}</h1>
</div>

<div class="plats row mt-5">
  {% for plat in plats %}
    <div class='card col-12 col-md-6 col-lg-4 p-0 d-flex justify-content-center p-0 m-0'>
      <img class='img-card' src="{{ asset('/img/images_the_district/food/' ~ plat.image) }}">
      <div class='card-body'>
        <h3 class="justify-content-center">{{ plat.libelle }}</h3>
        <p class="description">{{ plat.description }}</p>
        <h5>{{ plat.prix }} €</h5>
        <div class='button'>
          <button class='btn btn-link'>Ajouter au Panier -></button>
        </div>  
      </div>
        
</div>  
  {% endfor %} 
</div>

{% endblock %}



